<div class="app-banner">
    <div class="app-layout app-rows">
        <div class="browser">
            <div class="browser__toolbar">
                <div class="browser__buttons"><i></i><i></i><i></i></div>
                <div class="browser__console">https://romasheva.design/</div>
            </div>
            <div class="browser__window">
                <div class="browser__document">
                    <h2 class="fs-1 fs-sm-3 text-center m-0">{% include i18n id="UI/UX Designer" %}</h2>
                    <h3 class="fs-3 fs-sm-6 text-center m-0 c-secondary">{% include i18n id="Designing and building intuitive, aesthetic digital products" %}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="app-page" id="services">
    <div class="app-layout app-rows">
        <div>
            <h2 class="fs-2 fs-sm-3 m-0">{% include i18n id="Services" %}</h2>
            <p class="m-0">{% include i18n id="I create solutions based on the real needs of the client" %}</p>
        </div>
        <div class="app-grid">
            {% assign list = site.data.services[page.lang] | default: site.data.services.en %}
            {% for item in list %}
                {% include block/service.liquid %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="app-page" id="portfolio">
    <div class="app-layout app-rows">
        <div>
            <h2 class="fs-2 fs-sm-3 m-0">{% include i18n id="Portfolio" %}</h2>
            <p class="m-0">{% include i18n id="Series of projects I have realized over the past years" %}</p>
        </div>
        <div class="app-grid">
            {% assign list = site.data.portfolio[page.lang] | default: site.data.portfolio.en %}
            {% for item in list %}
                {% include block/portfolio.liquid %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="app-page" id="contacts">
    <div class="app-layout app-rows">
        <div class="app-grid">
            <div>
                <h2 class="fs-2 fs-sm-3 m-0">{% include i18n id="Contact me" %}</h2>
                <p>{% include i18n id="If you have an open project or just need a consultation, you can contact me via" %}:</p>
                <div class="app-inline">
                    {% for item in site.contacts %}
                    {% capture name %}{{item[0]}}{% endcapture %}
                    <a href="{{ item[1] }}" class="app-inline__item" rel="author">
                        <div class="icon large c-{{item[0]}}">{% include icon name=name %}</div>
                        <div class="ml-2 bold">{{item[0] | capitalize}}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div>
                <h2 class="fs-2 fs-sm-3 m-0">{% include i18n id="Follow me" %}</h2>
                <p>{% include i18n id="Places where you can follow me and my work" %}:</p>
                <div class="app-inline">
                    {% for item in site.social.profiles %}
                    {% capture name %}{{item[0]}}-square{% endcapture %}
                    <a href="{{ item[1] }}" title="{{item[0] | capitalize}}" class="app-inline__item" rel="author">
                        <div class="icon large c-{{item[0]}}">{% include icon name=name %}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div>
                <h2 class="fs-2">{% include i18n id="Hire me" %}</h2>
                <p>{% include i18n id="Here you can see my resume" %}:</p>
                <div class="fx fx-wrap">
                    <a href="https://romasheva.cv/{{ page.lang }}/" class="bold">{% include i18n id="Resume Page" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>

