<div class="app-page app-page-sticky">
    <div class="app-page__layout">
        <div class="browser">
            <div class="browser__toolbar">
                <div class="browser__buttons"><i></i><i></i><i></i></div>
                <div class="browser__console">https://romasheva.design/</div>
            </div>
            <div class="browser__window">
                <div class="browser__document">
                    <h2 class="browser__title">{% include i18n id="UI/UX Designer" %}</h2>
                    <h3 class="browser__summary c-secondary">{% include i18n id="Designing and building intuitive, aesthetic digital products" %}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="app-page" id="services">
    <div class="app-page__layout">
        <div class="app-section">
            <h2 class="app-section__title">{% include i18n id="Services" %}</h2>
            <p class="app-section__summary">{% include i18n id="Create solutions based on the real needs of the client" %}</p>
        </div>
        <div class="app-grid">
            {% assign list = site.data.services[page.lang] | default: site.data.services.en %}
            {% for item in list %}
                {% include block/service.liquid %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="app-page" id="portfolio">
    <div class="app-page__layout">
        <div class="app-section">
            <h2 class="app-section__title">{% include i18n id="Portfolio" %}</h2>
            <p class="app-section__summary">{% include i18n id="Series of projects I have realized over the past years" %}</p>
        </div>
        <div class="app-grid">
            {% assign list = site.data.portfolio[page.lang] | default: site.data.portfolio.en %}
            {% for item in list %}
                {% include block/portfolio.liquid %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="app-page" id="contacts">
    <div class="app-page__layout">
        <div class="app-grid">
            <div class="app-rows">
                <div class="app-section">
                    <h2 class="app-section__title">{% include i18n id="Contact me" %}</h2>
                    <p class="app-section__summary">{% include i18n id="If you have an open project or just need a consultation, you can contact me via" %}:</p>
                </div>
                <div class="app-inline">
                    {% for item in site.contacts %}
                    {% capture name %}{{item[0]}}{% endcapture %}
                    <a href="{{ item[0] | prepend: 'https://romasheva.com/' |  append: '/' }}" class="app-inline__item" rel="author">
                        <div class="icon mr large">{% include icon name=name %}</div>
                        <div class="bold">{{name | capitalize}}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="app-rows">
                <div class="app-section">
                    <h2 class="app-section__title">{% include i18n id="Follow me" %}</h2>
                    <p class="app-section__summary">{% include i18n id="Places where you can follow me and my work" %}:</p>
                </div>
                <div class="app-inline">
                    {% for item in site.profiles %}
                    {% capture name %}{{item[0]}}-square{% endcapture %}
                    <a href="{{ item[0] | prepend: 'https://romasheva.com/' |  append: '/' }}" title="{{item[0] | capitalize}}" class="app-inline__item" rel="author">
                        <div class="icon large c-{{item[0]}}">{% include icon name=name %}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="app-rows">
                <div class="app-section">
                    <h2 class="app-section__title">{% include i18n id="Hire me" %}</h2>
                    <p class="app-section__summary">{% include i18n id="Here you can see my resume" %}</p>
                </div>
                <a class="app-cv-button" href="https://romasheva.cv/{{ page.lang }}/">
                    <span class="icon mr">{% include icon name="address-card" %}</span>
                    {% include i18n id="Resume Page" %}
                </a>
            </div>
            <div class="app-rows">
                {% include block/form.liquid %}
            </div>
        </div>
    </div>
</div>
