<div class="app-page app-fluid">
    <div class="app-page__layout">
        <article class="app-post">
            {% if page.date %}
                <time class="app-post__date">{% include dateformat value=page.date %}</time>
            {% endif %}
            <h1 class="app-post__title">{{ page.title }}</h1>
            {% if page.image.path %}
                <figure class="ratio ratio-16x9"><img alt="" src="{{ page.image.path }}"></figure>
            {% endif %}
            {{ content }}
            {% if page.source %}
                <div class="app-post__source">
                    {% include i18n id="Source" %} —
                    <a href="{{ page.source.url }}">{{ page.source.name }}</a>
                </div>
            {% endif %}
            {% if page.author %}
                <div class="app-post__author">
                    {% include i18n id="Author" %} —
                    <a href="{{ page.author.url }}">{{ page.author.name }}</a>
                </div>
            {% endif %}
        </article>
    </div>
</div>
